body {
	background-color: #FEEFEF;
}

span {
	text-transform: uppercase;
	font-weight: BOLD;
}

div.painel-central {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 1px solid black;
	border-radius: 10px;
	width: 50%;
	height: auto;
	padding: 10px 0px 20px 0px;
}

div.painel-central div.titulo {
	font-family: Times New Roman;
	font-weight: BOLD;
	font-size: 24pt;
	padding: 15px 10px 15px 10px;
}

div.painel-central div.botoes {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 25px;
}

div.painel-central div.botoes div.botao-1, div.painel-central div.botoes div.botao-2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

div.painel-central div.botoes div a button#botao_ligar {
	background-color: #18FF43;
	color: #ffffff;
	width: 50px;
	height: 50px;
	border: 5px solid #908F8F;
	border-radius: 100px;
	transition: ease 0.4s; 
}

div.painel-central div.botoes div a button#botao_ligar:hover {
	background-color: #029B1D;
	border: 5px solid #7C7C7C;
	transform: scale(1.1);
}


div.painel-central div.botoes div a button#botao_desligar {
	background-color: #F32821;
	color: #ffffff;
	width: 50px;
	height: 50px;
	border: 5px solid #908F8F;
	border-radius: 100px;
	transition: ease 0.4s;
}

div.painel-central div.botoes div a button#botao_desligar:hover {
	background-color: #9C0601;
	border: 5px solid #7C7C7C;
	transform: scale(1.1);
}